.section__subtitle {
    margin-left: 11px;
    margin-bottom: 15px;
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}