.section__about-conditer-container {
    color: #1F1F1F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.44px; 
}