.section__about-conditer {
    color: #1F1F1F;
    font-family: Tenor Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}