.section__title {
    color: #fff;
    font-family: Tenor Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 23px;
    text-transform: uppercase;
}